:root{
   --color-dark-brown: #3E2B2B;
   --color-brown: #BA8F57;
   --color-light-brown: #F1E2C5;
   --color-light-green-3: #C9D8CB ;
   --color-light-green-2: #85c48d ;
   --color-light-green: rgb(47, 124, 57) ;
   --color-light-blue: #D9DEE2;
   --color-blue: #B5DEDC;
   --color-dark-blue: #00101D;
   --color-dark-green: #0d1f0c;
   --color-grey: #3A525D;
}

/* Fonts */

.color-dark-blue{
  color: var(--color-dark-blue);
}
.color-light-green{
  color: var(--color-dark-green);
}
.color-brown{
  color: var(--color-dark-brown);
}
@font-face {
  font-family: Gill-Sans;
  src: url(../assets/Fonts/Gill-Sans/Gill\ Sans\ thin.ttf);
  font-weight: 100;
}
@font-face {
  font-family: Gill-Sans;
  src: url(../assets/Fonts/Gill-Sans/Gill\ Sans\ Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Gill-Sans;
  src: url(../assets/Fonts/Gill-Sans/Gill\ Sans\ Medium.otf);
  font-weight: 400;
}
.font-freight{
  font-family: 'Noto Serif JP', serif;
}
.font-gill-sans {
  font-family: 'Gill-Sans';
}
.letter-spacing {
  letter-spacing: -0.06rem;
}
.font-weight-100{
  font-weight: 100;
}
.font-weight-200{
  font-weight: 200;
}
.font-weight-300{
    font-weight: 300;
}
.font-weight-400{
    font-weight: 400;
}
.font-weight-600{
  font-weight: 600;
}
.h-1{font-size:3.125vw;line-height:1.5;}
.h-2{font-size:2.8125vw;line-height:1.375;}
.h-3{font-size:2.421875vw;line-height:1.25;}
.h-4{font-size:1.953125vw;line-height:1;}
.para-1{font-size:1.40625vw;line-height:1.5;}
.p-2{font-size:1.25vw;line-height:1.5;}
.para-3{font-size:1.09375vw;line-height:1.5;}
.p-4{font-size:1.09375vw;line-height:1;}
.lh-24{line-height: 1.75;}
.lh-28{line-height: 2;}
@media screen and (max-width: 900px) {
  .h-1{font-size:32px;line-height:1.5;}
  .h-2{font-size:28px;line-height:1.375;}
  .h-3{font-size:24px;line-height:1.25;}
  .h-4{font-size:20px;line-height:1;}
  .para-1{font-size:14px;line-height:1.5;}
  .p-2{font-size:12px;line-height:1.5;}
  .para-3{font-size:10px;line-height:1.5;}
  .p-4{font-size:10px;line-height:1;}
  
}
.color-white {
  color: white;
}

/* Utility Classes */
.letter-spacing-add{
  letter-spacing: 0.1rem;
}
.z-index-999 {
  z-index: 999;
}

.z-index-998 {
  z-index: 998;
}
.z-index-1 {
  z-index: -1;
}

.grid {
  display: grid;
}

.grid-center {
  display: grid;
  place-items: center;
}
.span-2{
  grid-column: span 2;
}

.flex {
  display: flex;
}

.flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.border-radius-20px {
  border-radius: 20px;
}

.nowrap {
  white-space: nowrap;
}

.upper-case {
  text-transform: uppercase;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}
.position-fixed{
  position: fixed;
}

.text-center {
  text-align: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.overflow-hidden {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.display-none {
  display: none;
}
.width-50 {
  width: 50%;
}
.width-100 {
    width: 100%;
  }
  .overflow-x-hidden{
    overflow-x: hidden;
  }
  .underline{
    text-decoration: underline;
  }
  /* Button anim */
.button-anim-left::after{
  transform-origin: left;
}
.button-anim-right::after{
  transform-origin: right;
}
.after-bc-blue::after{
  background-color: var(--color-dark-blue);
}
.after-bc-white::after{
  background-color: white;
}
.after-bc-brown::after{
  background-color: var(--color-dark-brown);
}
.hover-color-brown:hover{
  color: var(--color-dark-brown) !important;
}
.hover-color-green:hover{
  color: var(--color-dark-brown) !important;
}
.overflow-scroll{
  overflow: scroll;
}
.gap-1{
  gap: 1rem;
}
.gap-1-5 {
  gap: 1.5rem;
}
.gap-2{
  gap: 2rem;
}
/* Icon images */
.icon-img-blue::after{
  background-image: url(../assets/Images/icon-blue.jpg);
}
.icon-img-black-white::after{
  background-image: url(../assets/Images/icon-black-white.jpg);
}
.icon-img-green::after{
  background-image: url(../assets/Images/icon-swatch-green.jpg);
}
.icon-img-grey::after{
  background-image: url(../assets/Images/icon-swatch-grey.jpg);
}
.icon-img-pink::after{
  background-image: url(../assets/Images/icon-swatch-pink.jpg);
}
/* Margin Utility Classes */
.m-1{margin:1rem;} .mt-1{margin-top:1rem;} .mb-1{margin-bottom:1rem;} .ml-1{margin-left:1rem;} .mr-1{margin-right:1rem;}
.m-3{margin:3rem;} .mt-3{margin-top:3rem;} .mb-3{margin-bottom:3rem;} .ml-3{margin-left:3rem;} .mr-3{margin-right:3rem;}
.m-5{margin:5rem;} .mt-5{margin-top:5rem;} .mb-5{margin-bottom:5rem;} .ml-5{margin-left:5rem;} .mr-5{margin-right:5rem;}

/* Padding Utility Classes */
.p-1{padding:1rem;} .pt-1{padding-top:1rem;} .pb-1{padding-bottom:1rem;} .pl-1{padding-left:1rem;} .pr-1{padding-right:1rem;}
.p-3{padding:3rem;} .pt-3{padding-top:3rem;} .pb-3{padding-bottom:3rem;} .pl-3{padding-left:3rem;} .pr-3{padding-right:3rem;}
.p-5{padding:5rem;} .pt-5{padding-top:5rem;} .pb-5{padding-bottom:5rem;} .pl-5{padding-left:5rem;} .pr-5{padding-right:5rem;}


/* Reset */
main{display:block;}body{margin:0; color: #ffffff;}p{margin:0;}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;margin:0;}ul,ol{margin:0;padding:0;list-style:none;}a{background-color:transparent;text-decoration:none;color:inherit;}svg,img{vertical-align:bottom;}button{-webkit-appearance:none;appearance:none;vertical-align:middle;color:inherit;font:inherit;background:transparent;padding:0;margin:0;border-radius:0;text-align:inherit;text-transform:inherit;}button,[type="button"],[type="reset"],[type="submit"]{cursor:pointer; border: none;}label[for]{cursor:pointer;}input{outline: none;border: none;}