@media screen and (max-width: 840px) {
  .display-none-800 {
    display: none;
  }
  .width-100-800 {
    width: 100%;
    max-width: 100%;
  }
  .grid-column-1-800 {
    grid-template-columns: 1fr;
  }
  .flex-column-800 {
    flex-direction: column;
  }
}
