@media screen and (max-width: 840px) {
  .display-none-800 {
    display: none;
  }
  .width-100-800 {
    width: 100%;
    max-width: 100%;
  }
  .grid-column-1-800 {
    grid-template-columns: 1fr;
  }
  .flex-column-800 {
    flex-direction: column;
  }
  .flex-center-800 {
    justify-content: center;
    align-items: center;
  }
  .nav-logo {
    width: 80px;
  }
  .display-inline-800 {
    display: inline;
  }
  .wallpaper-img-cont {
    width: 60%;
    margin-left: auto;
  }
  .pr-3-800{
    padding-right: 3rem;
  }
  .product-cards {
    grid-template-columns: repeat(2, 45%);
    padding: .5rem;
  }
  .img-cont-product {
    aspect-ratio: 9/16;
    aspect-ratio: 26/16;
  }
  .img-cont-product {
    height: 20vw;
    height: 60vw;
  }
  
}
@media screen and (min-width: 840px) {
  .order-1-800 {
    order: -1;
  }
  .wallpaper-content {
    display: grid;
    grid-template-columns: 52% 30%;
    gap: 6rem;
    padding-bottom: 6rem;
  }
  .wallpaper-L-img {
    grid-area: 1;
    padding: 2rem 4rem;
  }
  .slider-img {
    width: 30vw;
  }
  .slider-img-cont {
    height: 29vw;
    width: 22vw;
  }
  .fungi-img-cont,
  .fungi-img {
    width: 44vw;
    aspect-ratio: 5/3.5;
    margin-block: auto;
  }
  .fungi-wrappper {
    height: 40vw;
    gap: 12rem;
  }
  .interier-img-cont {
    width: 63vw;
    padding: 2rem 4rem;
  }
  .primary-img-interier {
    width: 38vw;
  }
  .secondary-img-interier {
    width: 20vw;
    right: 5rem;
  }
  .discover-main-cont {
    padding-bottom: 5rem;
  }
  .footer-upper-seprator {
    transform: rotate(90deg);
  }
  .display-section{
    grid-template-columns: 25% auto;
   }
   .fungi-content {
    max-width: 37%;
   }
}
@media screen and (min-width: 1400px) {
  nav {
    margin-inline: auto;
  }
  .main-header,
  nav,
  body > * {
    max-width: 1400px;
  }
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
}